---
import { getEntry, getCollection } from 'astro:content';

export async function getStaticPaths() {
  const pages = await getCollection('blog');

  return pages.map(page => ({
    params: { lang: page.slug.split('/')[0], slug: page.slug.split('/').slice(1).join('/') },
    props: page,
  }));
}

const { lang, slug } = Astro.params;

const page = await getEntry('blog', `${lang}/${slug}`);

if (!page) {
  return Astro.redirect('/404');
}

const formattedDate = new Date(page.data.date).toLocaleDateString(lang);

const { Content } = await page.render();
---

<h1>{page.data.title}</h1>
<p>by {page.data.author} • {formattedDate}</p>
<Content />