---
import { getCollection, getEntry } from 'astro:content';

export async function getStaticPaths() {
  const posts = await getCollection('blog');

  return posts.map(post => {
    const [lang, ...slugParts] = post.slug.split('/'); // Separa idioma y slug
    return {
      params: { lang, slug: slugParts.join('/') }, // Une las partes restantes para formar el slug
      props: { post },
    };
  });
}

const { lang, slug } = Astro.params;
const post = await getEntry('blog', `${lang}/${slug}`);

if (!post) {
  return Astro.redirect('/404');
}

const formattedDate = new Date(post.data.date).toLocaleDateString(lang);
const { Content } = await post.render();
---

<BaseLayout>
  <article>
    <h1>{post.data.title}</h1>
    <p>by {post.data.author} • {formattedDate}</p>
    {post.data.previewImage && <img src={post.data.previewImage} alt={post.data.title} />}
    <Content />
  </article>
</BaseLayout>
